# Muhammad Siddiq 19B-071-SE

Practice problems

3.1

In [4]:
fahr=eval(input("Enter the temperature in degrees Fahrenheit:"))
cels=int((fahr-32)*5/9)
print("The temperature in degrees celcius is", cels)

Enter the temperature in degrees Fahrenheit:50
The temperature in degrees celcius is 10

3.2

In [10]:
#a
age=eval(input("Enter your age:"))
if age > 62:
    print("You can get your pension benefits")
else:
    print("Sorry you cannot get your pension benefits")

Enter your age:63
You can get your pension benefits

In [21]:
#b
name= input(("Enter name:"))
if name in ['Musial', 'Aaron', 'Williams', 'Gehrig', 'Ruth']:
     print("One the top 5 baseball players ever:",name)

Enter name:Williams
One the top 5 baseball players ever: Williams

In [35]:
#c

SyntaxError: invalid syntax (<ipython-input-35-4c3c3ed02ef6>, line 3)

In [ ]:
#d

3.3

In [40]:
#a
year= eval(input("Year:"))
if year % 4 == 0:
    print('Could be a leap year')
else:
    print('Definitely not a leap year')

Year:2016
Could be a leap year

In [49]:
#b

Enter:no
no

3.4

In [51]:
users=['joe','sue','hani', 'sophie']
id = input('Login:')
if id in users:
    print('You are in!')
else:
    print('User unknown')
print('Done')

Login:sue
You are in!
Done

3.5

In [57]:
wordlist=eval(input('Enter wordlist:'))
for word in wordlist:
    if len(word)==4:
        print(word)

Enter wordlist:['siddiq','haris','asad','khan','alii','alec']
asad
khan
alii
alec

3.6

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
for i in range(2):
    print(i)

0
1

3.7

In [64]:
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [65]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [66]:
for i in range(0,24,3):
    print(i)

0
3
6
9
12
15
18
21

In [67]:
for i in range(3,12,5):
    print(i)

3
8

3.8

In [74]:
from math import pi
def perimeter(radius):
    p=2*pi*radius
    return p
perimeter(3)

18.84955592153876

In [75]:
def average(x,y):
    return (x+y)/2
average(2,3)

2.5

In [87]:
vowel='AaEeIiOoUu'
def noVowel(s):
    if vowel in s:
        print('True')
    else:
        print('False')
noVowel('Siddiq')

False

In [91]:
def alleven(numlist):
    for num in numlist:
        if num%2 !=0:
            return False
        return True
alleven([8,2])

True

3.12

In [95]:
def negatives(lst):
    for i in lst:
        if i<0:
            print(i)
negatives([-8,-3,2,-5])

-8
-3
-5

3.13

In [96]:
help(negatives)

Help on function negatives in module __main__:

negatives(lst)

In [97]:
help(average)

Help on function average in module __main__:

average(x, y)

3.15

In [107]:
lst=['ali','haris','wasay','murtaza']
temp=lst[0]
lst[0]=lst[-1]
lst[-1]=temp
print(lst)

['murtaza', 'haris', 'wasay', 'ali']

3.16

In [109]:
ing=['flour','sugar','butter','apples']
temp=ing[0]
ing[0]=ing[-1]
ing[-1]=temp
print(ing)

['apples', 'sugar', 'butter', 'flour']

3.17

In [5]:
#a
def eval(x):
    i=(2*3)+x
    return i
eval(1)

7

In [12]:
#b
def eval(i):
    i='hello'
    return i
eval('hello')

'hello'

In [17]:
#c
def eval():
    i=print('Hello'+' '+'World')
    return i
eval()

Hello World

In [23]:
#d
def count():
    i='ASCII'
    i.count('I')
    return i.count('I')
    
count()

2

In [24]:
#e
def f():
    x=5
    return x 
f()

5

3.18

In [11]:
a,b,c=2,3,5
def var(a,b,c):
    if a<b:
        print('Ok')
var(2,3,5)

Ok
Ok

In [12]:
if c<b:
    print("OK")

In [5]:
if a+b==c:
    print('Ok')

Ok

In [8]:
if ((a)**2 + (b)**2)==(c**2):
    print('Ok')

3.19

In [9]:
a,b,c=2,3,5
if a<b:
    print('Ok')
else:
    print('Not Ok')

Ok

In [10]:
if c<b:
    print('Ok')
else:
    print('Not Ok')

Not Ok

In [13]:
if a+b==c:
    print('Ok')
else:
    print('Not Ok')

Ok

In [14]:
if ((a)**2 + (b)**2)==(c**2):
    print('Ok')
else:
    print('Not Ok')

Not Ok

3.20

In [16]:
month=['january','feburary','march']
for i in month:
    print(i[:3])

jan
feb
mar

3.21

In [17]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

3.22

In [18]:
lst=[2,4,5,6,8,16,28,9]
for i in lst:
    if i**2%8==0:
        print(i)

4
8
16
28

3.23

In [24]:
for i in range(0,2):
    print(i)

0
1

In [23]:
for i in range(0,1):
    print(i)

0

In [25]:
for i in range(3,7):
    print(i)

3
4
5
6

In [26]:
for i in range(1,2):
    print(i)

1

In [28]:
for i in range(0,4,3):
    print(i)

0
3

In [29]:
for i in range(5,22,4):
    print(i)

5
9
13
17
21

3.24

In [34]:
def lst(*words):
    for i in words:
        s='secret'
        if i!=s:
            print (i)
lst('cia','secret','mia','secret')

cia
mia

3.25

In [36]:
def f(*x):
    for i in x:
        if i[0] in 'AaMm':
            print(i)
f('Anum','murtaza','Haris','Siddiq')

Anum
murtaza

3.28

In [43]:
def f(*x):
    print('The first element is:',x[0])
    print('The last element is: ',x[-1])
f(1,3,5,6)

The first element is: 1
The last element is:  6

3.27

In [37]:
def multiple(x):
    n1=x*1
    n2=x*2
    n3=x*3
    n4=x*4
    return(n1,n2,n3,n4)
multiple(5)

(5, 10, 15, 20)

3.28

In [40]:
i=0
def square(*num):
    for i in num:
        i**2
        print(i)
square(4)

4

3.29

In [ ]:
i=0
def divisor(num):
    i=1
    while i<=num:
        if (num%i==0):
            i=i+1
            print(i)
divisor(49)

2

3.30

In [3]:
def average(a,b,c,d):
    print('The first num is :',a)
    print('The second num is :',b)
    print('The third num is :',c)
    print('The fourth num is :',d)
    if (a+b+c)/3==d:
        print('Equal')
    else:
        print('Not Equal')
average(4.5,3,3,3.5)

The first num is : 4.5
The second num is : 3
The third num is : 3
The fourth num is : 3.5
Equal

3.31

In [6]:
import math
def dart(x,y):
    d=math.sqrt((0-0)**2 + (0-0)**2)
    if r>d:
        print('It is in')
    else:
        print('miss')
r=8
dart(2,4)

It is in

3.32

In [20]:
n=int(input('Enter four integrs:'))
x=n%10
y=x-3
for num in range(y,x+1):
    print(num)

Enter four integrs:1234
1
2
3
4

3.33

In [21]:
def reverse(word):
    x=word[::-1]
    print(x)
reverse('dna')

and

3.34

In [23]:
def pay(x,y):
    vage=x*y
    if y>35:
        a=vage+125
        return a
    print(vage)
pay(10,35)

350

3.35

In [32]:
def prob(n):
    x=2**-n
    return x
prob(1)

0.5

3.36

3.37

In [34]:
from math import sqrt
def points(x1,y1,x2,y2):
    if x1==x2 and y1==y2:
        print('The slope is infinity','Distance is',d,'units')
    m=(y2-y1)/(x2-x1)
    d=int(sqrt((x2-x1)+(y2-y1)))
    print('The slope of line is:',m,'Distance is:',d,'units')
points(0,0,1,2)

The slope of line is: 2.0 Distance is: 1 units

3.38

In [38]:
def abbreviation(*days):
    for i in days:
        print(i[0:2])
abbreviation('monday','tuesday')

mo
tu

3.39

In [39]:
def collision(x1,y1,r1,x2,y2,r2):
    if x1==x2 or y1==y2:
        print('True')
    else:
        print('False')
collision(0,0,3,0,5,3)

True

3.40

In [ ]:
def partiton(*names):
    for i in names:
        if i[0] in 'AaMm':
            print(i)
        
partiton('Ali','Murataza','Siddiq','Haris')

3.41

In [43]:
def lastf(first,last):
    print(last,(first[:1]),'.')
lastf('Albert','Camus')

Camus A .

3.42

In [44]:
def avg(a,b,c,d,e,f):
    avg1=(a+b+c+d)/4
    avg2=(e+f)/2
    print(avg1)
    print(avg2)
    
avg(95,92,86,87,66,54)

90.0
60.0

3.43

In [45]:
def hit(a,b,c,d,e):
    if d>c or e>c:
        print('False')
    else:
        print('True')
hit(0,0,3,3,0)

True

3.44